<%- include('partials/head.ejs') %>
        <section class="container">
            <table class="table is-fullwidth">
                <thead>
                    <th>Nom</th>
                    <th>Société</th>
                    <th>email</th>
                    <th>code client</th>
                    <th id="sector-selector">Secteur</th>
                    <th>Inscription</th>
                </thead>
                <tbody id="customer-list">
        
                </tbody>
            </table>
        </section>
<%- include('partials/foot.ejs') %>  