<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css" integrity="sha512-RpeJZX3aH5oZN3U3JhE7Sd+HG8XQsqmP3clIbu4G28p668yNsRNj3zMASKe1ATjl/W80wuEtCx2dFA8xaebG5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/inside.css">
    <script src="js/bulma.js"></script>
    <script src="js/inside.js"></script>
</head>
<body>
    test
    <table class="table is-fullwidth">
        <thead>
            <th>Nom</th>
            <th>Société</th>
            <th>email</th>
            <th>code client</th>
            <th>Secteur</th>
            <th>Inscription</th>
        </thead>
        <tbody id="customer-list">

        </tbody>
    </table>

    <div class="modal" id="mainmodal">
        <div class="modal-background"></div>
        <div class="modal-content box">
          this is my content
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
      </div>
</body>
</html>