:root{
    --redcolor : #be1e2b;
    --inside-purple : #502bd3;
}
aside:not(:has(p)){
    display:none;
}
h1.title{
    color:var(--inside-purple);
    padding-top: 20px;
}
@media (width > 1000px){
    #maincontainer{
        display:flex;
        justify-content: space-between;
        min-height:80vh

    }
    aside{
        flex-basis:200px;
        border-right:solid 1px rgba(255,255,255,.1)
    }
    .navbar{
        border-bottom: solid 1px rgba(255,255,255,.1);
    }
    main{
        flex-grow: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    main>*{
        flex-grow:0!important;
        padding:0 20px;
        
    }
    /* main>.container{
        max-width:100%;
    } */
}

/* Side menu */
.menu-label{
    color: #000;
    text-align:center;
    /* border-top:solid 1px var(--redcolor); */
    background-color: var(--inside-purple);
}
.expand{max-height: 30px;overflow:hidden;}
.expand.expanded{
    max-height:500px;
    overflow-y: scroll;
}

button.is-inside{
    color:#000;
    background-color: var(--inside-purple);
}

@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

#tab-content > div {
    display: none;
  }
  
  #tab-content > div.is-active {
    display: block;
  }
  svg{max-width:100%;}
  .sectors ul{
    display:flex;
    flex-wrap: wrap;
    gap:5px;
  }