:root{
    --redcolor : #be1e2b;
}

@media (width > 1000px){
    #maincontainer{
        display:flex;
        justify-content: space-between;

    }
    aside{
        flex-basis:200px;
    }
    main{
        flex-grow: 2;
    }
}

/* Side menu */
.menu-label{
    color: var(--redcolor);
    text-align:center;
    border-top:solid 1px var(--redcolor)
}