</main>
</section>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Inside</strong> | <a href="https://github.com/consogarage-webmaster/inside" target="_blank" class="is-size-7"><i class="fab fa-github-square"></i> Dépot Github</a>
    </p>
  </div>
</footer>
<div class="modal" id="mainmodal">
    <div class="modal-background"></div>
    <div class="modal-content box">
      <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

    <dotlottie-player src="https://lottie.host/4cb34855-b2b5-484b-a16e-98d45e9299dc/2GtX5kqon8.json" background="transparent" speed="1" style="width: 150px; height: 150px; margin:auto;" loop autoplay></dotlottie-player>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</body>
<!-- TODO intégration conditionnelle -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

</html>