</main>

<div class="modal" id="mainmodal">
    <div class="modal-background"></div>
    <div class="modal-content box">
      
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</body>
</html>