<%- include('../partials/head.ejs') %>
<section class="has-text-centered">
    <h1 class="title">#404</h1>
    <h2 class="subtitle">Page non trouvée</h2>
</section>
<%- include('../partials/foot.ejs') %>
